.copyright
    - var hexoURL = "https://hexo.io/";
    - var hirocraftURL = "https://github.com/cnzx219/hexo-theme-hirocraft";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=hirocraftURL, target="_blank") hexo-theme-hirocraft].
