//- LaTex
script(src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
script(async src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML" integrity="sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW" crossorigin="anonymous")
script(src="//cdn.bootcss.com/highlight.js/9.6.0/highlight.min.js")

script(type='text/javascript')
    | $(document).ready(function(){ hljs.initHighlightingOnLoad(); });
